body {background-color: #F0E66C} 
h1   {font-style: italic; text-align: center; font-family:courier} 
h2  { font-weight:bold; font-family:serif; text-align:left} 
img { valign="middle"; align="center"; height="60px"; width="80px"}
table { border-color: #000000; border-style: solid; border-width: 1px}
tbody {background-color: #B6DDE8} 
thead {background-color: #32879B;font-size:28pt}
h3 { font-weight: bold; text-align:center; font-size:20pt} 


